<h2>well I would need these , whatever we have <h2>
[buy ,
cart ,
wishlist ,
commented ,
viewed ,
searched ]

In [5]:
import pandas as pd
import glob
import os
import requests 
import clickhouse_connect

In [6]:
from elasticsearch import Elasticsearch
index_name= "profiles22"
ES_HOST="3.125.9.240"
ES_PORT="9221"
client = Elasticsearch("http://"+ES_HOST+":"+ES_PORT)
def es_indexing(df):
    counter = 0
    data = []
    for row in df:
        counter = counter + 1
        data.append({"index": {"_index": index_name, "_id": row['product_id']}})
        data.append(row)
        if counter%100==0:
            resp = client.bulk(body=data)
            data = []
    
    client.bulk(body=data)

In [ ]:
# clickhouse connection 
# ----------------------------

# please use your username & password
host = ''
username = ''
password = ''
native_port= 
http_port= 

client = clickhouse_connect.get_client(host=host,
                                       port=http_port,
                                       username=username,
                                       password=password,
                                       query_limit=0)

In [ ]:
# Metabase connection 
# ----------------------------
# please use your username & password

Client_Id=''
Client_Secret=''
username=''
password=''


# ----------------------------------------------

res = requests.post('https://bi.salla.group/api/session', 
                    headers = {"Content-Type": "application/json", 
                               'CF-Access-Client-Id': Client_Id,
                               'CF-Access-Client-Secret': Client_Secret
                            },
                    json =  {"username": username , 
                             "password": password }
                   )

assert res.ok == True
# print(res.text)
token = res.json()['id']


res = requests.get('https://bi.salla.group/api/card', 
              headers = {'Content-Type': 'application/json',
                        'X-Metabase-Session': token
                        }
            )

In [ ]:
res = requests.post(f'https://bi.salla.group/api/card/9821/query/json', 
              headers = {'Content-Type': 'application/json',
                         'CF-Access-Client-Id': Client_Id,
                         'CF-Access-Client-Secret':Client_Secret,
                         'X-Metabase-Session': token
                        },
            )

feed_back=pd.DataFrame(res.json())

In [ ]:
res = requests.post(f'https://bi.salla.group/api/card/9592/query/json', 
              headers = {'Content-Type': 'application/json',
                         'CF-Access-Client-Id': Client_Id,
                         'CF-Access-Client-Secret':Client_Secret,
                         'X-Metabase-Session': token
                        },
            )

product=pd.DataFrame(res.json())

In [ ]:
feed_back

,product_id,id,read,order_id,updated_at,status,content,store_id,customer_id,type,parent_id,deleted_at,created_at,rating,shipping_companies_name
0,12082273,10990311,1,36611054,2022-11-01T13:41:42Z,pending,Ø§Ù„Ø¨Ø§Ø³ ØºÙ„Ø· ÙˆÙˆØ§Ù„Ù„Ù‡ Ù…Ø§ Ø§Ø­Ù„Ù„ÙƒÙ… ÙÙŠ Ø±ÙŠØ§Ù„ ğŸ’”,454509,1917384,rating,0,None,2022-04-20T09:23:25Z,1,None
1,25839988,10990320,1,32335127,2022-11-06T19:46:28Z,approved,Ù„Ø°ÙŠØ° Ùˆ Ù…ØºÙ„Ù ØªØºÙ„ÙŠÙ Ù…Ù…ØªØ§Ø²,53590,7446034,rating,0,None,2022-04-20T09:24:03Z,5,None
2,30802923,10990321,1,36686255,2022-05-17T15:48:19Z,approved,Ø³Ø±ÙŠØ¹ Ø¨Ø§Ù„Ø´Ø­Ù† ÙˆØ§Ø±Ø®Øµ Ù…ØªØ¬Ø± ğŸ˜»,585565,4958831,rating,0,2022-05-17T15:48:19Z,2022-04-20T09:24:11Z,5,None
3,4237815,10990322,1,22793239,2022-11-05T13:50:01Z,approved,Ø§Ù†ÙˆØ«Ø©,98961,682455,rating,0,None,2022-04-20T09:24:12Z,5,None
4,4639338,10990323,1,22793239,2022-11-05T13:50:01Z,approved,Ù†Ø¸Ø§ÙØ©,98961,682455,rating,0,None,2022-04-20T09:24:12Z,5,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900933,15918979,12513648,1,41489192,2022-11-06T00:25:03Z,approved,Ø³Ø±ÙŠØ¹,341040,4519498,rating,0,None,2022-08-03T19:57:13Z,5,None
900934,25989311,12513651,1,41818759,2022-11-06T00:47:01Z,pending,Ø­Ø¨ÙŠØªÙ‡,675255,2337455,rating,0,None,2022-08-03T19:57:18Z,5,None
900935,22491701,12513657,1,43199184,2022-11-04T18:58:00Z,approved,Ù…Ù…ØªØ§Ø² Ø¬Ø¯Ø§,510249,10393473,rating,0,None,2022-08-03T19:57:50Z,5,None
900936,8223091,12513697,1,41631110,2022-11-06T20:14:10Z,pending,Ø±ÙŠØ­ØªÙ‡ Ù…Ùˆ Ø­Ù„ÙˆÙ‡ ÙˆØ®ÙÙŠÙ Ø¬Ø¯Ø§Ù‹,141176,6840048,rating,0,None,2022-08-03T20:01:28Z,1,None
900937,12818640,12513700,1,41216402,2022-10-29T20:35:13Z,approved,ÙŠØ¬Ù†Ù† Ø§Ø³ØªÙØ§Ø¯ Ø´Ø¹Ø±ÙŠ Ù…Ù†Ù‡ ÙˆØµØ§Ø± ØµØ­ÙŠ ÙˆØ¨Ø·Ù„Ø¨Ù‡ Ù…Ø±Ù‡ Ø«Ø§Ù†ÙŠÙ‡...,433718,1074572,rating,0,None,2022-08-03T20:01:32Z,5,None

In [ ]:
data_feed_back=feed_back.copy()

In [ ]:
# df=pd.read_excel('C:/Users/Salla 2/Desktop/My Folder/Recommendation Engine/Data_part_2/full_v5.xlsx')

In [ ]:
data=df.copy()

In [ ]:
data[~data['product_id_y'].isna()]

,cart_id,product_id_x,created_at,locked,customer_id,store_id,status,product_id_y,product_name,product_description
2,401632117,4699656,2022-11-05 21:59:27,0,2244853,197238,active,4699656.0,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>..."
3,401632117,4699656,2022-11-05 21:59:27,0,2244853,197238,active,4699656.0,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>..."
4,401632117,4699656,2022-11-05 21:59:27,0,2244853,197238,active,4699656.0,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>..."
5,401632117,4699656,2022-11-05 21:59:27,0,2244853,197238,active,4699656.0,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>..."
6,401632117,4699656,2022-11-05 21:59:27,0,2244853,197238,active,4699656.0,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>..."
...,...,...,...,...,...,...,...,...,...,...
829718,402150195,6001961,2022-11-07 05:03:34,0,13299320,174545,purchased,6001961.0,Ø¹Ø·Ø± ØªÙˆØ¨Ø§ÙƒÙˆ Ø§Ùˆ Ø¯ÙŠ Ø¨Ø§Ø±ÙÙŠÙˆÙ…,NaN
829720,402149229,38310989,2022-11-07 05:03:37,0,2391506,117346,purchased,38310989.0,Ø¨Ù„Ù†Ø¯ Ù‚ÙˆØªÙ‡ | Blend Gotah,NaN
829721,402149229,38310989,2022-11-07 05:03:37,0,2391506,117346,purchased,38310989.0,Ø¨Ù„Ù†Ø¯ Ù‚ÙˆØªÙ‡ | Blend Gotah,NaN
829722,402149229,38310989,2022-11-07 05:03:37,0,2391506,117346,purchased,38310989.0,Ø¨Ù„Ù†Ø¯ Ù‚ÙˆØªÙ‡ | Blend Gotah,NaN
829723,402149229,38310989,2022-11-07 05:03:37,0,2391506,117346,purchased,38310989.0,Ø¨Ù„Ù†Ø¯ Ù‚ÙˆØªÙ‡ | Blend Gotah,NaN

In [ ]:
data=data[['product_id_x','product_name', 'product_description', 'created_at','status','customer_id' ,'store_id','locked']]

In [ ]:
data.rename(columns={'product_id_x': 'product_id', 'status': 'Event',
                                'created_at': 'Event_Date',
                                }, inplace=True)

In [ ]:
data=data[(~data['product_name'].isna()) & (data['product_name'].str.len() >3)]

In [ ]:
data['Event'].replace('active', 'cart', inplace=True)

In [ ]:
data.Event.value_counts()

cart         483117
purchased    312220
Name: Event, dtype: int64

In [ ]:
data

,product_id,product_name,product_description,Event_Date,Event,customer_id,store_id,locked
2,4699656,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>...",2022-11-05 21:59:27,cart,2244853,197238,0
3,4699656,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>...",2022-11-05 21:59:27,cart,2244853,197238,0
4,4699656,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>...",2022-11-05 21:59:27,cart,2244853,197238,0
5,4699656,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>...",2022-11-05 21:59:27,cart,2244853,197238,0
6,4699656,Ø¹Ø·Ø± Ø°Ø§ ÙˆÙ†,"<p><span style=""color: rgb(0, 0, 0);""> </span>...",2022-11-05 21:59:27,cart,2244853,197238,0
...,...,...,...,...,...,...,...,...
829718,6001961,Ø¹Ø·Ø± ØªÙˆØ¨Ø§ÙƒÙˆ Ø§Ùˆ Ø¯ÙŠ Ø¨Ø§Ø±ÙÙŠÙˆÙ…,NaN,2022-11-07 05:03:34,purchased,13299320,174545,0
829720,38310989,Ø¨Ù„Ù†Ø¯ Ù‚ÙˆØªÙ‡ | Blend Gotah,NaN,2022-11-07 05:03:37,purchased,2391506,117346,0
829721,38310989,Ø¨Ù„Ù†Ø¯ Ù‚ÙˆØªÙ‡ | Blend Gotah,NaN,2022-11-07 05:03:37,purchased,2391506,117346,0
829722,38310989,Ø¨Ù„Ù†Ø¯ Ù‚ÙˆØªÙ‡ | Blend Gotah,NaN,2022-11-07 05:03:37,purchased,2391506,117346,0
829723,38310989,Ø¨Ù„Ù†Ø¯ Ù‚ÙˆØªÙ‡ | Blend Gotah,NaN,2022-11-07 05:03:37,purchased,2391506,117346,0

In [ ]:
data_feed_back=data_feed_back[data_feed_back['product_id'].isin(data.product_id.to_list())]

In [ ]:
data_feed_back

,product_id,id,read,order_id,updated_at,status,content,store_id,customer_id,type,parent_id,deleted_at,created_at,rating,shipping_companies_name
9,3012365,10990347,1,32334425,2022-11-06T20:02:52Z,pending,Ù„Ø³ Ø§Ù„Ø·Ù„Ø¨ Ù…Ø§ÙˆØµÙ„ Ù„ÙƒÙŠ Ø§Ù‚ÙŠÙ…Ù‡,37388,1875079,rating,0,None,2022-04-20T09:27:45Z,5,None
14,5166831,10990379,1,32335484,2022-11-03T20:40:53Z,approved,Ù…Ù…ØªØ§Ø² ÙˆÙŠØ­Ù…ÙŠ Ø§Ù„Ø´Ø§Ø´Ø©,218021,3006214,rating,0,None,2022-04-20T09:32:43Z,5,None
16,13560711,10990407,1,32334830,2022-11-06T16:28:56Z,pending,None,117346,5506526,rating,0,None,2022-04-20T09:34:00Z,5,None
17,7101282,10990408,1,32334830,2022-11-06T16:28:56Z,pending,None,117346,5506526,rating,0,None,2022-04-20T09:34:00Z,5,None
45,10477206,10990580,1,32283328,2022-10-27T13:35:14Z,approved,Ø¬Ù…ÙŠÙ„ Ùˆ Ø±Ø§Ø¦Ø¹,428217,7258404,rating,0,None,2022-04-20T10:03:51Z,5,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900923,33984381,12513580,1,41768066,2022-11-06T03:47:49Z,approved,Ø­Ù„Ùˆ Ø§Ù„Ù…Ø´ÙƒÙ„ ÙˆÙŠØ­ØªÙˆÙŠ Ø¹Ù„Ù‰ Ù…ÙƒØ³Ø±Ø§Øª,164240,7108119,rating,0,None,2022-08-03T19:52:21Z,5,None
900931,25989311,12513618,1,41809486,2022-11-06T00:47:01Z,approved,Ù…Ù…ØªØ§Ø² Ø¬Ø¯Ø§Ù‹ ÙˆØ§Ù„ØªÙˆØµÙŠÙ„ Ø³Ø±ÙŠØ¹,675255,5341195,rating,0,None,2022-08-03T19:55:08Z,5,None
900933,15918979,12513648,1,41489192,2022-11-06T00:25:03Z,approved,Ø³Ø±ÙŠØ¹,341040,4519498,rating,0,None,2022-08-03T19:57:13Z,5,None
900934,25989311,12513651,1,41818759,2022-11-06T00:47:01Z,pending,Ø­Ø¨ÙŠØªÙ‡,675255,2337455,rating,0,None,2022-08-03T19:57:18Z,5,None
900936,8223091,12513697,1,41631110,2022-11-06T20:14:10Z,pending,Ø±ÙŠØ­ØªÙ‡ Ù…Ùˆ Ø­Ù„ÙˆÙ‡ ÙˆØ®ÙÙŠÙ Ø¬Ø¯Ø§Ù‹,141176,6840048,rating,0,None,2022-08-03T20:01:28Z,1,None

In [ ]:
data_feed_back=data_feed_back[(data_feed_back['status']=='approved') & (data_feed_back['read']==1) ]

In [ ]:
data_feed_back.rename(columns={'created_at': 'Event_Date', 'type': 'Event'
                                }, inplace=True)

C:\Users\Salla 2\AppData\Local\Temp\ipykernel_10080\2137097917.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_feed_back.rename(columns={'created_at': 'Event_Date', 'type': 'Event'

In [ ]:
# data_feed_back[['product_id', 'product_name','product_description','content' ,'store_id','created_at','type','rating']]
data_feed_back=data_feed_back[['product_id','Event_Date','Event','customer_id','store_id']]
cc=data[data['product_id'].isin(data_feed_back.product_id.to_list())][['product_id','product_name', 'product_description']].drop_duplicates()

In [ ]:
product=product[['id', 'name', 'extra_attributes']]

In [ ]:
data_feed_back_m=pd.merge(data_feed_back, cc , on ='product_id' , how='left')

In [ ]:
data_feed_back_m=data_feed_back_m[~data_feed_back_m['product_name'].isna()]

data_feed_back_m=data_feed_back_m[['product_id' ,'product_name','product_description','Event_Date','Event' , 'customer_id','store_id' ]]

In [ ]:
li=[data, data_feed_back_m]

buy_cart_rate=pd.concat(li, axis=0, ignore_index=True )

In [ ]:
buy_cart_rate['Event'].value_counts().drop_duplicates()

cart         483117
purchased    312220
rating       158707
Name: Event, dtype: int64

In [ ]:
h1=buy_cart_rate.copy()

my_data=h1.groupby('Event').sample(140000 )

## wishlist

In [ ]:
# !pip install clickhouse_connect

Requirement already satisfied: clickhouse_connect in c:\users\salla 2\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: pytz in c:\users\salla 2\anaconda3\lib\site-packages (from clickhouse_connect) (2021.3)
Requirement already satisfied: requests in c:\users\salla 2\anaconda3\lib\site-packages (from clickhouse_connect) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\salla 2\anaconda3\lib\site-packages (from requests->clickhouse_connect) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\salla 2\anaconda3\lib\site-packages (from requests->clickhouse_connect) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\salla 2\anaconda3\lib\site-packages (from requests->clickhouse_connect) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\salla 2\anaconda3\lib\site-packages (from requests->clickhouse_connect) (3.3)

In [ ]:
lisaa=my_data.product_id.to_list()

In [ ]:
query2=  " SELECT *  " \
             " FROM salla_reports_exposed.customer_wishlist"\
             " WHERE product_id IN (%s)"\
              % (', '.join(str(id) for id in lisaa[0:25000]))

result2 = client.query(query2)
products = result2.result_set
df_products = pd.DataFrame(products)

In [ ]:
df_products.rename(columns={0: 'customer_id', 
                            1: 'id',
                            2: 'notes',
                            3: 'product_id', 
                            4:'no'
                                }, inplace=True)

In [ ]:
df_products_w=df_products[['product_id', 'customer_id']]

In [ ]:
df_products_w

        product_id  customer_id
0         29322716      1610807
1         32859819      4276383
2         22435617      8178439
3         15185311      2195788
4         27992825      2195788
...            ...          ...
299694    11495779      5856132
299695    40305562     10895638
299696     2922950      7390273
299697     5395616      9685205
299698     3906175      2326836

[299699 rows x 2 columns]

In [ ]:
# my_data
cc=my_data[my_data['product_id'].isin(df_products_w.product_id.to_list())][['product_id','product_name', 'product_description','store_id']].drop_duplicates()
wishlist=pd.merge(df_products_w, cc , on ='product_id' , how='left')

In [ ]:
wishlist['Event']='wishlist'
wishlist['Event_Date']='NA'

In [ ]:
wishlist=wishlist[['product_id' , 'product_name','product_description','Event_Date','Event','customer_id', 'store_id' ]]
wishlist=wishlist.sample(140000)

In [ ]:
wishlist

,product_id,product_name,product_description,Event_Date,Event,customer_id,store_id
194982,28917628,Ø§Ù„Ù„ÙŠÙØ© Ø§Ù„ÙƒÙˆØ±ÙŠÙ‡ - Ù‚ÙØ§Ø² ØªÙ‚Ø´ÙŠØ± ÙƒÙˆØ±ÙŠ - Ø§Ø²Ø±Ù‚,"<p><span style=""color: rgb(85, 179, 157);"">ÙˆØµÙ...",NA,wishlist,4736777,37064
169802,7238809,Ø¨ÙƒØ¬ Ø£Ø±Ø¬ÙˆØ§Ù† Ø§Ù„Ø¥Ù‚ØªØµØ§Ø¯ÙŠ,NaN,NA,wishlist,5040422,263959
65566,2600161,ØªÙˆØ¨Ø§ÙƒÙˆ,"<p class=""ql-direction-rtl""><span style=""color...",NA,wishlist,1561088,78492
90667,35920968,Ù…Ø§Ø³ÙƒØ§Ø±Ø§ ØªØ«Ø¨ÙŠØª Ø§Ù„Ø­ÙˆØ§Ø¬Ø¨ Ø¨Ø´ÙƒÙ„ Ù‚ÙˆÙŠ Ù…Ù† NYX,NaN,NA,wishlist,28526,114661
123000,34054774,Ø¹Ø¨Ø§ÙŠØ© ÙŠÙˆÙ…ÙŠØ© Ø³ÙˆØ¯Ø§Ø¡ Ø£Ù†ÙŠÙ‚Ø© 1216,<p>Ø¹Ø¨Ø§ÙŠØ© ÙŠÙˆÙ…ÙŠØ© Ø³ÙˆØ¯Ø§Ø¡ Ø£Ù†ÙŠÙ‚Ø© Ù…Ù† Ø¯Ø§Ø± Ø§Ù…ØªÙ†Ø§Ù† Ù„Ù„Ø¹Ø¨Ø§...,NA,wishlist,2083801,341040
...,...,...,...,...,...,...,...
87759,22053691,Ø¹Ø±Ø¶ Ø§Ù„Ø§ØµØ¯Ù‚Ø§Ø¡,<p><br></p>,NA,wishlist,9678586,194559
154588,3382844,Ø²ÙŠØª ÙÙŠØªØ§Ù…ÙŠÙ† E Ù„Ù„Ø¨Ø´Ø±Ø© ÙˆØ§Ù„ÙˆØ¬Ù‡ Ù…Ù† Ø³Ù†Ø¯Ø§ÙˆÙ† Ù†Ø§ØªÙˆØ±Ø§Ù„Ø²...,"<p class=""ql-align-right"">Ø²ÙŠØª ÙÙŠØªØ§Ù…ÙŠÙ† e Ù…Ù† ØµÙ† ...",NA,wishlist,1513156,114661
375216,19198394,Ù…Ø¬Ù…ÙˆØ¹Ø© ÙÙŠØªØ§Ù…ÙŠÙ† C Ø³ÙŠØ±ÙˆÙ… Ù„Ù„Ø¹ÙŠÙ† + ØºØ³ÙˆÙ„ Ù…Ù†Ø¸Ù ÙˆÙ…Ø¶Ø§Ø¯...,"<p class=""ql-direction-rtl""><span style=""backg...",NA,wishlist,7600231,192849
259722,6370368,Ø¹Ø·Ø± 248 - Ø¨Ø§Ø²Ù„ Ø±ÙˆØ² ÙØ§Ù†ÙŠÙ„Ø§,"<p class=""ql-align-right"">Ø¹Ø·Ø± Ø°Ùˆ Ø±Ø§Ø¦Ø­Ø© Ø¬Ø°Ø§Ø¨Ø© Ø¹...",NA,wishlist,3577953,149910
104248,4027132,Ù„ÙˆÙ…ÙŠÙ†ÙˆØ³,<p><strong>Ø¹Ø·Ø± Ù„ÙˆÙ…ÙŠÙ†ÙˆØ³ :</strong></p><p><br></...,NA,wishlist,448504,115720

In [ ]:
# pd.concat(my_data,wishlist)

li=[my_data,wishlist]

final=pd.concat(li, axis=0, ignore_index=True )

In [ ]:
final.shape

(560000, 8)

In [ ]:
final.isna().sum()

product_id                  0
product_name                0
product_description    461275
Event_Date                  0
Event                       0
customer_id                 0
store_id                    0
locked                 280000
dtype: int64

In [ ]:
# final.to_excel('C:/Users/Salla 2/Desktop/My Folder/Recommendation Engine/Data_part_2/customer_behavioral_data_v4.xlsx')

In [ ]:
final.Event.value_counts()

cart         140000
purchased    140000
rating       140000
wishlist     140000
Name: Event, dtype: int64

In [ ]:
final.Event_Date.min()

'2022-01-02T00:04:06Z'

In [ ]:
final

,product_id,product_name,product_description,Event_Date,Event,customer_id,store_id,locked
0,37757420,Ø¹Ø·Ø± 39,NaN,2022-11-06 19:21:09,cart,2154111,850964,0.0
1,36165318,Ø³ÙˆØ§Ø±Ø© Ø°Ù‡Ø¨ - ÙˆØ²Ù† Ø°Ù‡Ø¨ 0.30-Ø¹ÙŠØ§Ø± 18,NaN,2022-11-06 07:34:51,cart,1500558,697918,0.0
2,13021481,Ø³ÙˆÙØ§Ø¬ Ø¯ÙŠÙˆØ±,NaN,2022-11-06 14:34:38,cart,932145,121163,0.0
3,8878121,Ø¹Ø·Ø± 175 - Ø¨Ø§Ø²Ù„ Ø¹ÙˆØ¯ Ø£ØµÙÙ‡Ø§Ù†,NaN,2022-11-06 23:58:01,cart,4279037,149910,0.0
4,27155792,Ø´Ù…Ø§Øº VELANTO ÙƒÙ„Ø§Ø³ÙŠÙƒ Ø§Ù„Ø¬Ø¯ÙŠØ¯ 2023,NaN,2022-11-06 19:38:46,cart,5805500,334266,0.0
...,...,...,...,...,...,...,...,...
559995,22053691,Ø¹Ø±Ø¶ Ø§Ù„Ø§ØµØ¯Ù‚Ø§Ø¡,<p><br></p>,NA,wishlist,9678586,194559,NaN
559996,3382844,Ø²ÙŠØª ÙÙŠØªØ§Ù…ÙŠÙ† E Ù„Ù„Ø¨Ø´Ø±Ø© ÙˆØ§Ù„ÙˆØ¬Ù‡ Ù…Ù† Ø³Ù†Ø¯Ø§ÙˆÙ† Ù†Ø§ØªÙˆØ±Ø§Ù„Ø²...,"<p class=""ql-align-right"">Ø²ÙŠØª ÙÙŠØªØ§Ù…ÙŠÙ† e Ù…Ù† ØµÙ† ...",NA,wishlist,1513156,114661,NaN
559997,19198394,Ù…Ø¬Ù…ÙˆØ¹Ø© ÙÙŠØªØ§Ù…ÙŠÙ† C Ø³ÙŠØ±ÙˆÙ… Ù„Ù„Ø¹ÙŠÙ† + ØºØ³ÙˆÙ„ Ù…Ù†Ø¸Ù ÙˆÙ…Ø¶Ø§Ø¯...,"<p class=""ql-direction-rtl""><span style=""backg...",NA,wishlist,7600231,192849,NaN
559998,6370368,Ø¹Ø·Ø± 248 - Ø¨Ø§Ø²Ù„ Ø±ÙˆØ² ÙØ§Ù†ÙŠÙ„Ø§,"<p class=""ql-align-right"">Ø¹Ø·Ø± Ø°Ùˆ Ø±Ø§Ø¦Ø­Ø© Ø¬Ø°Ø§Ø¨Ø© Ø¹...",NA,wishlist,3577953,149910,NaN
559999,4027132,Ù„ÙˆÙ…ÙŠÙ†ÙˆØ³,<p><strong>Ø¹Ø·Ø± Ù„ÙˆÙ…ÙŠÙ†ÙˆØ³ :</strong></p><p><br></...,NA,wishlist,448504,115720,NaN

In [ ]:
res = requests.post(f'https://bi.salla.group/api/card/9822/query/json', 
              headers = {'Content-Type': 'application/json',
                         'CF-Access-Client-Id': Client_Id,
                         'CF-Access-Client-Secret':Client_Secret,
                         'X-Metabase-Session': token
                        },
            )

stores=pd.DataFrame(res.json())

In [ ]:
stores.city.value_counts()

Ø§Ù„Ø±ÙŠØ§Ø¶             253964
Ø¬Ø¯Ø©                134129
Ù…ÙƒØ©                 55528
Ø§Ù„Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„Ù…Ù†ÙˆØ±Ø©     47185
Ø§Ù„Ø¯Ù…Ø§Ù…              40062
                    ...
Innsbruck               1
Cincinnati              1
Eschwege                1
Ù…ØµØ±Ø§ØªÙ‡                  1
RUMAITHIYA              1
Name: city, Length: 3977, dtype: int64