In [1]:
from transformers import AutoTokenizer, AutoModel
from arabert.preprocess import ArabertPreprocessor
from farasa.segmenter import FarasaSegmenter
import torch
import arabicstopwords.arabicstopwords as ast
import string
from html.parser import HTMLParser
import os
import json

/home/odai/.local/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2022-12-10 14:12:38.933349: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-12-10 14:12:39.084835: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-12-10 14:12:39.084855: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-12-10 14:12:39.107601: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-12-10 14:12:39.597001: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-12-10 14:12:39.597073: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-12-10 14:12:39.597080: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
model_name= 'aubmindlab/bert-base-arabertv02'  
tokenizer =AutoTokenizer.from_pretrained(model_name) 
model=AutoModel.from_pretrained(model_name,output_hidden_states=True)

Some weights of the model checkpoint at aubmindlab/bert-base-arabertv02 were not used when initializing BertModel: ['cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.bias', 'cls.predictions.decoder.weight', 'cls.predictions.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [95]:
# def remove_punctuation(text):
#     return text.translate(str.maketrans('', '', string.punctuation))

# def remove_stop_words(text):
#     stop_words = ast.stopwords_list()
    
#     return remove_punctuation(' '.join(word for word in text.split() if word not in stop_words))

# def text_to_tokens(text):
#     return tokenizer.tokenize(text)



# def embedding(string):
#     text = remove_stop_words(string)
#     inputs = tokenizer.encode_plus(text,return_tensors='pt')
#     outputs = model(inputs['input_ids'],inputs['attention_mask'],inputs['token_type_ids'])
#     return [string,text,outputs['last_hidden_state'].detach().numpy()[0][0].tolist()]
    
# # tokens =text_to_tokens(remove_stop_words(text))

In [3]:
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))

def remove_stop_words(text):
    stop_words = ast.stopwords_list()
    
    return ' '.join(word for word in text.split() if word not in stop_words)
def strip_tags(html):
    html=str(html)
    s = MLStripper()
    s.feed(html)
    return s.get_data()

def text_to_tokens(text):
    return tokenizer.tokenize(text)

def embedding(text):
    text = remove_stop_words(remove_punctuation(text))
    inputs = tokenizer.encode_plus(text,return_tensors='pt')
    outputs = model(inputs['input_ids'],inputs['attention_mask'],inputs['token_type_ids'])
    return string,text,outputs['last_hidden_state'].detach().numpy()[0][0].tolist()
    
# tokens =text_to_tokens(remove_stop_words(text))

In [5]:
#reading json products
dir_path=r'/var/www/html/Salla/New/'
products_data=[]
for path in os.listdir(dir_path):
    if os.path.isfile(os.path.join(dir_path, path)):
        try:
            file = open(os.path.join(dir_path, path),'r')
            content = json.load(file)
            key_string=list(content.keys())[0]
            for product in content['SELECT smsp.id as product_id, smsp.name as product_name,smsc.id as category_id ,\r\nsmsc.name as category_name,smsp.description as product_description, smsb.name as brand_name\r\nFROM salla_reports.stg_mysql_salla__products smsp \r\nJOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id \r\nJOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id \r\nJOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id ']:
                data=product
                data['product_description']=strip_tags(data['product_description'])
                data['product_description_vector'] = embedding(data['product_description'])
                data['product_name_vector'] = embedding(data['name'])
                product_id=product['product_id']
                products_data.append({"index": {"_index": "products_semantic", "_id": product_id}})
                products_data.append(data)
                if len(products_data)>=1000:
                    resp = client.bulk(body=products_data)
                    products_data=[]
                    print("1000 Indexed")
                
        except:
            print("Error Parsing")

resp = client.bulk(body=products_data)

SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views
FROM salla_reports.stg_mysql_salla__products smsp
JOIN stg_mysql_salla__product_categories smspc  on stg_mysql_salla__product_categories.product_id = smsp.id
JOIN stg_mysql_salla__categories smsc on stg_mysql_salla__product_categories.category_id = stg_mysql_salla__categories.id
JOIN stg_mysql_salla__brands smsb on smsb.id = smsp.brand_id
where smsp.store_id in (352660,37064,20919)
SELECT smsp.id as product_id, smsp.name as name,smsc.id as category_id ,
smsc.name as category_name,smsp.description as description, smsb.name as brand_name ,
smsp.price as price, smsp.store_id as store_id ,smsp.`options` as tags, smsp.views as views

NameError: name 'client' is not defined

In [123]:
# text1 = "ولن نبالغ إذا قلنا: إن 'هاتف' أو 'كمبيوتر المكتب' في زمننا هذا ضروري"
# text2 = "إن 'هاتف' أو 'كمبيوتر المكتب' في زمننا هذا ضروري"

text1 = "ايفون 17"
text2 = "كفر جوالات"

In [124]:
# embedding(text)

In [125]:
# import required libraries
import numpy as np
from numpy.linalg import norm
 
# define two lists or array
nan, nan, A = embedding(text1)
nan, nan, B  = embedding(text2)


# compute cosine similarity
cosine = np.dot(A,B)/(norm(A)*norm(B))
print("Cosine Similarity:", cosine)

Cosine Similarity: 0.82694749424007